/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"); */
/* Header */
/* .navbar{

} */
a.user-aut, a.user-saves{
    color: #000;
    text-decoration: none;
}


/* logo */
.logo-test{
    display: flex;
    justify-content: center;
    /* margin: 0 0 0 30px; */
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #D9D9D9;
    text-decoration: none;
}

.logo-text{
    font-size: 24px;
    display: flex;
    color: #000;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
/* nav elements */

li.nav-item-user{
    list-style: none;
    padding-left: 0;
}

/* ul li.nav-item {
    margin-left: 10px;
} */

.test-btn{
    font-size: 25px;
    height: 50px;
    width: 50px;
    background-color: #c6c6c6;
    color: #000;
}

.search-test{
    align-items: center;
}

.test-dropdown{
    display: flex;
    align-items: center;
}

.test-icon-saves{
    align-items: center;
    color: #000;
    font-size: 25px;
}

.nav-bar-user{
    display: flex;
    align-items: center;
    margin: 0;
}

.user-nav{
    position: relative;
    left: 80px;
}

.but{
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 50px;
}

@media(max-width: 991px){
    .but{
        position: relative !important;
        top: 30px;
        padding: 0 !important;
    }

    .user-nav{
        left: 0 !important;
    }

    .search-test{
        position: relative !important;
        bottom: 130px;
    }


}

a.user-aut, a.user-saves{
    padding: 8px;
}

/* main content */

/* .newest{
  height: 1000px;
} */

.title-newest, .title-most-rated{
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
}

.col{
    margin: 10px 0;
}

/* card body */

/* .card{
  margin: 10px 0;
} */

.card-text-left{
    color: #707070;
    margin: 0;
    text-align: left;
}

.card-title{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.card-text-test{
    display: flex;
    justify-content: space-between;
}

.card-text-dif, .card-text-time{
    margin: 0;
    color: #707070;
}

/* Slider */
#carouselExampleControls{
    .carousel-inner {
        padding: 1em;
    }
    .card {
        margin: 0 0.5em;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        border: none;
    }
    .carousel-control-prev,
    .carousel-control-next {
        background-color: #e1e1e1;
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
    }

    @media (min-width: 768px) {
        .carousel-item {
            margin-right: 0;
            flex: 0 0 33.333333%;
            justify-content: center;
            display: block;
        }
        .carousel-inner {
            display: flex;
        }
    }
    .card .img-wrapper {
        max-width: 100%;
        height: 13em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card img {
        max-height: 100%;
    }
    @media (max-width: 767px) {
        .card .img-wrapper {
            height: 17em;
        }
    }
}

#carouselExampleDark{
    .carousel-item{
        object-fit: contain;
        width: 100%;
        height: 450px;
    }

    .carousel-caption{
        color:#fff;
    }

    .carousel-indicators button{
        background-color: #fff;
    }

    .stat-card-dark{
        border-style: solid;
        margin: 15px;
        padding: 110px;
        border-radius: 15px;
        border-color: #fff;
        background-color: #000;
        position: absolute;
        top: 8px;
        left: 16px;
        color:#fff;
    }

    .stat-card-dark-left{
        position: absolute;
        border-style: solid;
        margin: 15px;
        padding: 110px;
        border-radius: 15px;
        border-color: #fff;
        background-color: #000;
        top: 8px;
        right: 16px;
        color:#fff;
    }
}

/* Most rated */
.most-rated-sec{
    height: 500px;
    background: #D9D9D9;
}

.title-most-rated{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Favorite categorys(buttons)*/
a.test-but{
    color: #000;
    text-decoration: none;
}

.fav-but1:hover{
    transition: background-color 0.5s;
    background-color: #b1b8fa;
}

.fav-but{
    margin: 20px 0;
    height: 150px;
    background: #D9D9D9;
}

.fav-but1, .fav-but2, .fav-but3, .fav-but4
, .fav-but5, .fav-but6, .fav-but7, .fav-but8{
    border-color: #000;
    border-style: solid;
    border-radius: 15px;
    background-color: #fff;
    transition: background-color 0.5s;
}


/* Footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #d9d9d9;
}

.footer-allright{
    text-align: center;
    background-color: #fff;
}




